@page "/person/create"

<h3>Create Person</h3>

<PersonForm Person="Person" OnValidSubmit="Add" />

@code {
  Person Person = new Person();

  private void Add()
  {
    System.Console.WriteLine("Adding person");
  }
}
