@page "/movie/create"
@inject NavigationManager navManager
@inject IMovieRepository movieRepository
@inject IGenreRepository genreRepository

<h3>Create Movie</h3>

@if (NotSelectedGenres != null)
{
  <MovieForm Movie="Movie" OnValidSubmit="AddMovie" NotSelectedGenres="NotSelectedGenres" />
}

@code {

  private Movie Movie = new Movie();

  private List<Genre> NotSelectedGenres;

  protected async override Task OnInitializedAsync()
  {
    NotSelectedGenres = await genreRepository.GetGenres();
  }

  private async Task AddMovie() 
  {
    try
    {
      var movieId = await movieRepository.CreateMovie(Movie);
      navManager.NavigateTo($"movie/{movieId}/{Movie.Title.Replace(" ", "-")}");
    }
    catch (Exception ex)
    {

    }
  }
}
