@page "/movie/create"
@inject NavigationManager navManager

<h3>Create Movie</h3>

<MovieForm Movie="Movie" OnValidSubmit="AddMovie" />

@code {
  private Movie Movie = new Movie();
  [Parameter]
  public EventCallback OnValidSubmit { get; set; }

  private void AddMovie() {
    System.Console.WriteLine($"Movie {Movie.Title} created");
    System.Console.WriteLine($"The trailer is at {Movie.Trailer}");
  }
}
